[project]
	description = inspired by https://github.com/linkedin/sysops-api
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/a1 (sun-exploit)
[access "refs/for/refs/*"]
	read = group user/a1 (sun-exploit)
	push = group user/a1 (sun-exploit)
	label-Code-Review = -2..+2 group user/a1 (sun-exploit)
	label-Verified = -1..+1 group user/a1 (sun-exploit)
	rebase = group user/a1 (sun-exploit)
	removeReviewer = group user/a1 (sun-exploit)
	submit = group user/a1 (sun-exploit)
[access "refs/heads/*"]
	read = group user/a1 (sun-exploit)
	create = group user/a1 (sun-exploit)
	push = +force group user/a1 (sun-exploit)
	pushMerge = group user/a1 (sun-exploit)
[access "refs/tags/*"]
	push = +force group user/a1 (sun-exploit)
	pushTag = group user/a1 (sun-exploit)
	pushSignedTag = group user/a1 (sun-exploit)
